<ion-view view-title="Home" hide-nav-bar="true">
	<ion-content>
		<div class="row" style="margin-top:20px">
			<div class="col col-100 text-center text-white">
				<a href="" ng-click="GotoOption('blood-donate');" class="text-white">
					<div class="donate-box" style="background-image: url('./img/siteimgs/donateimg.png');">
						<h4 class="heading-donate">Kefir Donor</h4>
					</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col col-100 text-center text-white">
				<a href="" ng-click="GotoOption('blood-request');" class="text-white">
					<div class="donate-box" style="background-image: url('./img/siteimgs/requestblood.png');">
						<h4 class="heading-donate">Kefir Request</h4>
					</div>
				</a>
			</div>
		</div>
    </ion-content>
	<div class="bar bar-footer" style="padding:0px;background:#999891;">
		<div class="row" style="padding:0px;">
			<div class="col col-100 text-center" style="padding:1px;">
				<img src="img/siteimgs/logo.png" alt="logo" style="width:56px;">
			</div>
		</div>
	</div>
	<!-- <div ng-include src="'templates/bottom-tabs.html'"></div> -->
</ion-view>
