<ion-view view-title="Users">
	<ion-content>
		<!-- search bar code -->
		<div class="bar bar-subheader item-input-inset search-bar-friendlist" no-tap-scroll="true">
		  <label class="item-input-wrapper">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" placeholder="Search" ng-model="searchfrnd.$" ng-change="scrollTop();">
		  </label>
		  <button class="button button-clear button-refresh ion-ios-refresh-empty" ng-click="searchfrnd = ''"> </button>
		</div>
    	<div class="list user-list-custom">
			<a class="item item-thumbnail-left" href="#/app/user-details">
			  <img src="http://akcion.hu/projectSetup/couponImages/870-cloned-1462822604-5142-cloned-1418513732-7360-1415533149-3905.jpg">
			  <h2>Pretty Hate Machine</h2>
			  <p><i class="ion-location text-orange"></i> California , America</p>
			  <p><i class="ion-ios-telephone text-magenta"></i> 9907014320</p>
			  <p><i class="ion-android-mail text-palegreen"></i> gtfdhs12@gmail.com</p>
			</a>
			<a class="item item-thumbnail-left" href="#/app/user-details">
			  <img src="http://www.acappellanews.com/images/jeff_thatcher.jpg">
			  <h2>Black Martin</h2>
			  <p><i class="ion-location text-orange"></i> Hostan , Texas</p>
			  <p><i class="ion-ios-telephone text-magenta"></i> 8934521352</p>
			  <p><i class="ion-android-mail text-palegreen"></i> abcdefg12@gmail.com</p>
			</a>
			<a class="item item-thumbnail-left" href="#/app/user-details">
			  <img src="http://au.blog.smartbuyglasses.com/files/2016/04/how-to-look-professional-in-glasses.jpg">
			  <h2>Mystry Williams</h2>
			  <p><i class="ion-location text-orange"></i> Brazilia , Brazil</p>
			  <p><i class="ion-ios-telephone text-magenta"></i> 7823145268</p>
			  <p><i class="ion-android-mail text-palegreen"></i> ljgtfhr12@gmail.com</p>
			</a>
			<a class="item item-thumbnail-left" href="#/app/user-details">
			  <img src="https://s-media-cache-ak0.pinimg.com/originals/cd/98/bd/cd98bdc95630be3bc483439ebf11a062.jpg">
			  <h2>Tom Cruz</h2>
			  <p><i class="ion-location text-orange"></i> Shanghai , China</p>
			  <p><i class="ion-ios-telephone text-magenta"></i> 9992458721</p>
			  <p><i class="ion-android-mail text-palegreen"></i> jkferdgh12@gmail.com</p>
			</a>
			<a class="item item-thumbnail-left" href="#/app/user-details">
			  <img src="http://akcion.hu/projectSetup/couponImages/870-cloned-1462822604-5142-cloned-1418513732-7360-1415533149-3905.jpg">
			  <h2>Tom Cruz</h2>
			  <p><i class="ion-location text-orange"></i> California , America</p>
			  <p><i class="ion-ios-telephone text-magenta"></i> 9907014320</p>
			  <p><i class="ion-android-mail text-palegreen"></i> gtfdhs12@gmail.com</p>
			</a>
		</div>
    </ion-content>
</ion-view>
