<ion-view view-title="User Info">
    <ion-content>
		<!-- <div class="cover_profile">
			<img src="http://timesofindia.indiatimes.com/thumb/msid-9010450,width-400,resizemode-4/9010450.jpg" style="height:230px;width:100%;display: inherit;" alt="profilecover" class="coverimg" />
			<div class="profile123">
				<img src="http://www.jeevan.org/media/chennai-jeevan-blood-bank-faq.jpg" alt="profileimage" class="profileimg" />
			</div>
		</div> -->
		<div class="list overlay-light list-user-info">
		  <div class="item item-divider text-gold">
			General Info
		  </div>
		  <a class="item">
			<span class="datatitle">Name</span> <b class="datavalue">Pretty Hate Machine</b>
		  </a>
		  <a class="item">
			<span class="datatitle">DOB</span> <b class="datavalue">Nov 25 1991</b>
		  </a>
		  <a class="item">
			<span class="datatitle">Age</span> <b class="datavalue">25 Years</b>
		  </a>
		  <a class="item">
			<span class="datatitle">Gender</span> <b class="datavalue">Female</b>
		  </a>
		  <div class="item item-divider text-gold">
			Contact Info
		  </div>
		  <a class="item">
			<span class="datatitle">Country</span> <b class="datavalue">America</b>
		  </a>
		  <a class="item">
			<span class="datatitle">State</span> <b class="datavalue">California</b>
		  </a>
		  <a class="item">
			<span class="datatitle">City</span> <b class="datavalue">California</b>
		  </a>
		  <a class="item">
			<span class="datatitle">Pincode</span> <b class="datavalue">452001</b>
		  </a>
		  <a class="item">
			<span class="datatitle">Phone</span> <b class="datavalue">8934521352</b>
		  </a>
		  <a class="item">
			<span class="datatitle">Email</span> <b class="datavalue">abcdefg12@gmail.com</b>
		  </a>
		</div>
    </ion-content>
</ion-view>
